# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Project cache
cache/

# Environment / secrets
.env
*.env

# VS Code settings
.vscode/

# Temporary files
*.tmp

# Raw / downloaded datasets
data/

# Large satellite/raster files
*.tif
*.tiff
*.jp2
*.img

# ML model files
*.pkl
*.joblib

# Do NOT ignore output CSV files
# output/satellite/*.csv